%header
  %div.logo
    %div.animate
      = image_tag 'home/logotipoEntero-01.png'
    %div.animate
      = image_tag 'home/logotipoEntero-02.png'
    %div.animate
      = image_tag 'home/logotipoEntero-03.png'
  %div.right
    %div.records
      = image_tag 'home/records.png', :alt => 'registros'
      %span
        REGISTROS
    %div.vidasonline
      = image_tag 'home/vidasonline.png'
      %span
        VIDASONLINE
  %div.upload
    = image_tag 'home/upload.png'
    %p
      SUBE TU REGISTRO
  %hr
  