%header
  %div.logo
    %div.animate
      = image_tag 'home/logotipoEntero-01.png'
    %div.animate
      = image_tag 'home/logotipoEntero-02.png'
    %div.animate
      = image_tag 'home/logotipoEntero-03.png'
  %div.right
    %div.records
      = image_tag 'home/records.png', :alt => 'registros'
      %span
        REGISTROS
    %div.vidasonline
      = image_tag 'home/vidasonline.png'
      %span
        VIDASONLINE
  %div.upload
    = image_tag 'home/upload.png'
    %p
      SUBE TU REGISTRO
  %hr

%div.main
  %div.showcase{:id => 'showcase'}
    %div.showcase-slide
      %div.showcase-content
        = image_tag 'home/foto1.png'
      %div.showcase-caption
        Ha cambiado nuestra vida
        %br
        cotidiana con una nueva
        %br
        forma de comunicarnos.
    %div.showcase-slide
      %div.showcase-content
        = image_tag 'home/foto2.png'
      %div.showcase-caption
        Sube un video o
        %br
        imagen de cómo
        %br
        crees tú que ha
        %br
        cambiado nuestra
        %br
        vida cotidiana por el
        %br
        uso del smartphone.
    %div.showcase-slide
      %div.showcase-content
        = image_tag 'home/foto3.png'
      %div.showcase-caption
        = image_tag 'home/upload.png'
        %br
        Regístrate y sube tu registro
        %br
        aquí o vía instagram con el
        %br
        hashtag #vidasonline.