!!!
%html
  %head
    %title
      Vidas Online
    = stylesheet_link_tag 'application'
    = javascript_include_tag "application"
    = javascript_include_tag "home"
  %body
    %div.isotipo
      = link_to dashboard_url do
        = image_tag 'home/Isotipo-01.png'
    %div.isotipo
      = link_to dashboard_url do
        = image_tag 'home/Isotipo-02.png'
    %div.isotipo
      = link_to dashboard_url do
        = image_tag 'home/Isotipo-03.png'
    %div.container
      = image_tag 'home/FotoChica1.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica2.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica3.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica4.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica5.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica6.png', :class => 'lightUp'
      = image_tag 'home/FotoChica7.png', :class => 'lightUp'
      = image_tag 'home/FotoChica8.png', :class => 'lightUp'
      = image_tag 'home/FotoChica9.png', :class => 'lightUp'
      = image_tag 'home/FotoChica10.png', :class => 'lightUp'
      = image_tag 'home/FotoChica11.png', :class => 'lightUp'
      = image_tag 'home/FotoChica12.png', :class => 'lightUp'
      = image_tag 'home/FotoChica13.png', :class => 'lightUp'
      = image_tag 'home/FotoChica14.png', :class => 'lightUp'
      = image_tag 'home/FotoChica15.png', :class => 'lightUp'
      = image_tag 'home/FotoChica16.png', :class => 'lightUp'
      = image_tag 'home/FotoChica17.png', :class => 'lightUp'
      = image_tag 'home/FotoChica18.png', :class => 'lightUp'
      = image_tag 'home/FotoChica19.png', :class => 'lightUp'
      = image_tag 'home/FotoChica20.png', :class => 'lightUp'
      = image_tag 'home/FotoChica21.png', :class => 'lightUp'
      = image_tag 'home/FotoChica22.png', :class => 'lightUp'
      = image_tag 'home/FotoChica23.png', :class => 'lightUp'
      = image_tag 'home/FotoChica24.png', :class => 'lightUp'
      = image_tag 'home/FotoChica25.png', :class => 'lightUp'
      = image_tag 'home/FotoChica26.png', :class => 'lightUp'
      = image_tag 'home/FotoChica27.png', :class => 'lightUp'
      = image_tag 'home/FotoChica28.png', :class => 'lightUp'
      = image_tag 'home/FotoChica29.png', :class => 'lightUp'
      = image_tag 'home/FotoChica30.png', :class => 'lightUp'
      = image_tag 'home/FotoChica31.png', :class => 'lightUp'
      = image_tag 'home/FotoChica32.png', :class => 'lightUp'
      = image_tag 'home/FotoChica33.png', :class => 'lightUp'
      = image_tag 'home/FotoChica34.png', :class => 'lightUp'
      = image_tag 'home/FotoChica35.png', :class => 'lightUp'
      = image_tag 'home/FotoChica36.png', :class => 'lightUp'
      = image_tag 'home/FotoChica37.png', :class => 'lightUp'
      = image_tag 'home/FotoChica38.png', :class => 'lightUp'
      = image_tag 'home/FotoChica39.png', :class => 'lightUp'
      = image_tag 'home/FotoChica40.png', :class => 'lightUp'
      = image_tag 'home/FotoChica41.png', :class => 'lightUp'
      = image_tag 'home/FotoChica42.png', :class => 'lightUp'
      = image_tag 'home/FotoChica43.png', :class => 'lightUp'
      = image_tag 'home/FotoChica44.png', :class => 'lightUp'
      = image_tag 'home/FotoChica45.png', :class => 'lightUp'
      = image_tag 'home/FotoChica46.png', :class => 'lightUp'
      = image_tag 'home/FotoChica47.png', :class => 'lightUp'
      = image_tag 'home/FotoChica48.png', :class => 'lightUp'