!!!
%html
  %head
    %title
      Vidas Online
    = stylesheet_link_tag 'application'
    = javascript_include_tag "application"
    = javascript_include_tag "home"
  %body
    %div.isotipo
      = link_to dashboard_url do
        = image_tag 'home/Isotipo-01.png'
    %div.isotipo
      = link_to dashboard_url do
        = image_tag 'home/Isotipo-02.png'
    %div.isotipo
      = link_to dashboard_url do
        = image_tag 'home/Isotipo-03.png'
    %div.container
      = image_tag 'home/FotoChica1.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica2.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica3.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica4.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica5.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica6.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica7.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica8.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica9.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica10.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica11.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica12.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica13.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica14.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica15.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica16.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica17.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica18.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica19.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica20.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica21.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica22.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica23.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica24.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica25.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica26.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica27.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica28.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica29.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica30.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica31.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica32.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica33.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica34.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica35.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica36.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica37.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica38.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica39.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica40.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica41.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica42.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica43.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica44.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica45.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica46.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica47.jpg', :class => 'lightUp'
      = image_tag 'home/FotoChica48.jpg', :class => 'lightUp'