%div.container
  = image_tag 'home/FotoChica1.png'
  = image_tag 'home/FotoChica2.png'
  = image_tag 'home/FotoChica3.png'
  = image_tag 'home/FotoChica4.png'
  = image_tag 'home/FotoChica5.png'
  = image_tag 'home/FotoChica6.png'
  = image_tag 'home/FotoChica7.png'
  = image_tag 'home/FotoChica8.png'
  = image_tag 'home/FotoChica9.png'
  = image_tag 'home/FotoChica10.png'
  = image_tag 'home/FotoChica11.png'
  = image_tag 'home/FotoChica12.png'
  = image_tag 'home/FotoChica13.png'
  = image_tag 'home/FotoChica14.png'
  = image_tag 'home/FotoChica15.png'
  = image_tag 'home/FotoChica16.png'
  = image_tag 'home/FotoChica17.png'
  = image_tag 'home/FotoChica18.png'
  = image_tag 'home/FotoChica19.png'
  = image_tag 'home/FotoChica20.png'
  = image_tag 'home/FotoChica21.png'
  = image_tag 'home/FotoChica22.png'
  = image_tag 'home/FotoChica23.png'
  = image_tag 'home/FotoChica24.png'
  = image_tag 'home/FotoChica25.png'
  = image_tag 'home/FotoChica26.png'
  = image_tag 'home/FotoChica27.png'
  = image_tag 'home/FotoChica28.png'
  = image_tag 'home/FotoChica29.png'
  = image_tag 'home/FotoChica30.png'
  = image_tag 'home/FotoChica31.png'
  = image_tag 'home/FotoChica32.png'
  = image_tag 'home/FotoChica33.png'
  = image_tag 'home/FotoChica34.png'
  = image_tag 'home/FotoChica35.png'
  = image_tag 'home/FotoChica36.png'
  = image_tag 'home/FotoChica37.png'
  = image_tag 'home/FotoChica38.png'
  = image_tag 'home/FotoChica39.png'
  = image_tag 'home/FotoChica40.png'
  = image_tag 'home/FotoChica41.png'
  = image_tag 'home/FotoChica42.png'
  = image_tag 'home/FotoChica43.png'
  = image_tag 'home/FotoChica44.png'
  = image_tag 'home/FotoChica45.png'
  = image_tag 'home/FotoChica46.png'
  = image_tag 'home/FotoChica47.png'
  = image_tag 'home/FotoChica48.png'