%div.instagram
  %div.username
    = "@"+@picture.user.username
  %div.image
    = image_tag @picture.caption.url
  %div.caption
    = @picture.comment
  %div.share
    COMPARTE EL LINK
    %br
    %div.iconshare
      = image_tag 'home/facebook.png'
      = image_tag 'home/twitter.png'
    